.about__container {
    width: 80vw;
    height: calc(100vh - 100px);
    position: relative;
}

.about__content {
    margin: 40px 15px;
    font-size: 16px;
}

.btn__box {
    display: flex;
    justify-content: center;
}

.tg_ico {
    width: 24px;
    height: 21px;
    background-image: url(../../public/img/tg_ico.png);
    background-size: cover;
    margin-left: 12px;
}

.about__bg_box {
    position: absolute;
    right: 0;
    bottom: 20px;

    width: 229px;
    height: 169px;
    background-image: url(../../public/img/about_bg.png);
    background-size: cover;
}