.foldedPost__wrapper {
    width: 80%;
    margin: 0 auto;
}

.foldedPost_box {
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px;
    margin: 52px 0 20px;
}



.foldedPost__title {
    font-style: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.foldedPost__body {
    color: #646464;
}

.like_icon_box {
    width: 22px;
    height: 19.5px;
    margin-top: 12px;
    background-image: url('../../public/img/like_icon.png');
    background-size: cover;
}

.like_icon_box:hover {
    background-image: url('../../public/img/like_icon_hover.png');
    cursor: pointer;
}

.like_icon_box:active {
    opacity: 0.7;
}

.like_icon_box.active {
    background-image: url('../../public/img/like_icon_active.png');
}

.like_icon_box.active:hover {
    background-image: url('../../public/img/like_icon_active_hover.png');
    cursor: pointer;
}

.comments_box {
    font-size: 12px;
    padding: 10px;
}

.commets_word {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 16px;
}

.comments_quantity {
    color: #999999;
    margin-left: 6px;
    font-size: 16px;
}

.comment_email {
    font-weight: 500;
    font-style: italic;
}

.comment_body {
    font-style: italic;
    margin-bottom: 18px;
}


.like_group {
    display: flex;
    gap: 16px;
    align-items: center;
}

.like_word {
    color: #F33278;
    font-size: 15px;
    font-weight: 500;
    margin-top: 12px;
}

.post__buttonsArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}



.foldedPost_box-enter {
    opacity: 0;
}

.foldedPost_box-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.foldedPost_box-exit {
    opacity: 1;
}

.foldedPost_box-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}