.my_btn {
    font-size: 10px;
    font-weight: 600;

    padding: 8px 18px;

    background: #D5FF40;
    border: 1px solid black;
    border-radius: 6px;
    opacity: 0.6;
}

.my_btn:hover {
    opacity: 1;
    cursor: pointer;
}

.my_btn:active {
    opacity: 0.8;
}


.my_btn--large {
    font-size: 18px;
    margin: 8px 0;
    opacity: 0.8;
    padding: 12px 18px;
}

.my_btn--page {
    background: #FF826C;
    padding: 8px 12px;
    max-width: 32px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

.my_btn--page:hover {
    background: #FC6044;
}


.my_btn--exit {
    background: #F33278;
    color: #D5FF40;
    opacity: 1;
    border: none;
    font-size: 18px;
    padding: 8px 22px;
}

.my_btn--exit:hover {
    color: black;
    border: 1px solid black;
    padding: 7px 21px;
}