.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;

    width: 48%;
    border: 1px solid black;
    border-radius: 6px;

    padding: 14px 22px;

}

.post__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
}

.content__body {
    font-size: 14px;
    line-height: 1.4;
    color: #646464;
}

.post__buttonsArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (width < 768px) {

    .post {
        width: 100%;
    }
}